body{
    background-color: rgb(0, 0, 0 ,0.5);
}

.john-info{
   background-color: rgb(13, 61, 61);
   width: 100%;
   max-height: 50%;
   text-align: center;
}
.john-info table{
 margin: auto;
 margin-top: 20px;
 margin-bottom: 20px;
}

.page{
    color: lightblue;
 }
 table{
align-content: center;
 } 
 table th{
    color: rgb(208, 124, 236);
 }

table td{
    padding: 24px 60px;
    color: blanchedalmond;
}
a{
    margin-left: 4px;
  text-decoration:none;
  font-size: 18px;
  font-family:sans-serif;
}
span{
    color: black;
}